* {
	margin: 0px;
	padding: 0px;
	--color-1: rgb(224, 22, 180);
	--color-2: rgb(225, 242, 237);
	--color-3: rgb(137, 217, 199);
	--color-4: rgb(25, 78, 74);
}
body {
	background-color: white;
	color: black;
}
upperNav {
	border: none;
	padding: 2px;
}
nav {
	border: none;
	color: var(--color-4);
	margin-right: auto;
	padding: 2px;
	font-size: larger;
	font-weight: 400;
	text-shadow: --color-3 5px 0 10px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a:hover {
text-decoration: none;
}
#bannerWrapper {
	max-width: fit-content;
display: flex;
align-items: stretch;
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.top-text {
    align-self: flex-start;
}
.bottom-text {
    align-self: flex-end;
}
#banner {
	margin: 5px;
	width: auto;
	height: 200px;
}
#contentFrame {
	border: solid;
}
#404bunny {
	max-width: 400px;	
}
#404bunny img {
	width: 400px;
	height: 350px;
	display: flex;
    justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

 /* Styles for smaller screens (mobile) */
@media (max-width: 768px) {
	.header-logo {
		width: 50px;
	}
	.main-content {
		font-size: 16px;
		background-color: var(--color-4);
	}
}
/* Styles for larger screens (desktop) */

@media (min-width: 769px) {
	.header-logo {
		width: 100px;
	}
	.main-content {
		font-size: 20px;
		background-color: white;
	}
} 
