*
{
	margin: 0px;
	padding: 0px;
}

.container{ 
    display: flex;
    flex-wrap: wrap;
}

img{
    margin:5px;
    width:200px;
    height:200px;
}

/* Styles for smaller screens (mobile) */

@media (max-width: 768px) {

	.header-logo { 
  
	  width: 50px;
  
	}
  
	.main-content { 
  
	  font-size: 16px;
  
	}
  
  }
  /* Styles for larger screens (desktop) */
  
  @media (min-width: 769px) {
  
	.header-logo { 
  
	  width: 100px;
  
	}
  
	.main-content { 
  
	  font-size: 20px;
  
	}
  
  }